<?xml version="1.0" encoding="utf-8"?>
<root>
    <warning-hittimes>1</warning-hittimes>
    <define-times>1</define-times>
    <refine-log>
    	<item>
            <filepath>./mmfs.logs*</filepath>
            <exclude-str>sorted</exclude-str>
            <capture-exps>
            	<exp>\[E\]</exp>
            	<exp>Error</exp>
            </capture-exps>
        </item>
        <item></item>
    </refine-log>
    <issue name="node expel issue due to tcp configuration">
		<!-- item>
            <filepath>./mmfs.logs*</filepath>
            <exps>
				<exp>.</exp>
			</exps>
			<print_match_position>False</print_match_position>
			<desc>Test no print match postion</desc>
        </item-->
        <item>
        	<filepaths>
	            <filepath>./internaldump*/internaldump*</filepath>
            </filepaths>
            <exp>Waiting \d+\.\d+ sec.*NSD I/O completion</exp>
			<desc>NSD I/O waiters found.</desc>
			<hint>For NSD IOs waiters, generally it means gpfs has dispatched IOs to 
disk/storage subsys but still waiting for reply, if there are many IOs 
waiters, reported from nsd node, are pending there more than 0.02s, it 
will bring pref impact to your cluster. 
Try use tool iohist.awk: 
>iohist.awk slowdata=1000 internaldump.* | grep "E2_GPFS_*" | awk {'print $11'} | sort | uniq -c 
could find how many slowdata existed.</hint>
        </item>
        <item>
            <filepaths>
	            <filepath>./internaldumps*/extra*</filepath>
	            <filepath>./internaldumps*/extra*/extra*</filepath>
            </filepaths>
            <exp>120000000</exp>
			<desc>RTO raised to 2min network issue</desc>
			<log_range>-5,20</log_range>
        </item>
        <advice from="advice/network/tcp_configuration.txt" />
    </issue>
    <issue name="AD server or winbind issues">
    	<item>
    		<filepaths>
	            <filepath>./var/adm/ras/mmsysmonitor*</filepath>
            </filepaths>
            <exps>
				<exp>Event=ads_down</exp>
				<exp>Event=ads_failed</exp>
				<exp>Event=ads_up</exp>
			</exps>
            
            <desc>Tips to troubleshooting AD server or winbind issues</desc>
    	</item>
        <advice from="advice/authentication/ad_server_and_winbind.txt" />
    </issue>
</root>