<?xml version="1.0" encoding="utf-8"?>
<root>
    <warning-hittimes>1</warning-hittimes>
    <define-times>1</define-times>
    <refine-log>
    	<item>
            <filepath>./mmfs.logs*</filepath>
            <exclude-str>sorted</exclude-str>
            <capture-exps>
            	<exp>\[E\]</exp>
            	<exp>Error</exp>
            </capture-exps>
        </item>
        <item></item>
    </refine-log>
    <issue name="long waiters detected.">
    	<item>
    		<filepaths sortable="False">
	            <filepath>./internaldumps/internaldump*/internaldump*</filepath>
	            <filepath>./internaldump*/internaldump*</filepath>
            </filepaths>
            <exps>
				<exp>aiting \d+\.\d+ sec</exp>
			</exps>
            <desc>too many long waiters detected.</desc>
    	</item>
    </issue>
    <issue name="disks I/O waiting > 20ms that may downgrade the performance">
        <item>
        	<filepaths sortable="False">
	            <filepath>./internaldump*/internaldump*</filepath>
            </filepaths>
            <exp>aiting \d+\.\d+ sec.*I/O completion on disk</exp>
			<desc>wait for disk I/O completion.</desc>			
        </item>
        <item>
        	<filepaths sortable="False">
	            <filepath>./internaldump*/internaldump*</filepath>
            </filepaths>
            <exp>Waiting \d+\.\d+ sec.*NSD I/O completion</exp>
			<desc>wait for nsd I/O completion.</desc>
        </item>
        <advice from="advice/disk/disk_nsd_io_pending_20ms.txt" />
    </issue>
    <issue name="network problem from rto raise to 2min">
        <item>
            <filepaths sortable="False">
	            <filepath>./internaldumps*/extra*</filepath>
	            <filepath>./internaldumps*/extra*/extra*</filepath>
            </filepaths>
            <exp>120000000</exp>
			<desc>RTO raised to 2min network issue</desc>
			<log_range>-5,20</log_range>
        </item>
        <advice from="advice/network/tcp_configuration.txt" />
    </issue>
    <issue name="AD server or winbind issues">
    	<item>
    		<filepaths sortable="True">
	            <filepath>./var/adm/ras/mmsysmonitor*</filepath>
            </filepaths>
            <exps>
				<exp>Event=ads_down</exp>
				<exp>Event=ads_failed</exp>
				<exp>Event=ads_up</exp>
			</exps>
            
            <desc>Tips to troubleshooting AD server or winbind issues</desc>
    	</item>
        <advice from="advice/authentication/ad_server_and_winbind.txt" />
    </issue>
    <issue name="log assert crash issue.">
    	<item>
    		<filepaths sortable="True">
	            <filepath>./mmfs.logs*</filepath>
            </filepaths>
            <exps>
				<exp>logAssertFailed</exp>
			</exps>
            <desc>hit log assert crash issue.</desc>
            <log_range>-25,20</log_range>
    	</item>
    	<advice from="advice/crash/logAssertFailed.txt" />
    </issue>
     <issue name="node expel due to network glitches">
    	<item>
    		<filepaths sortable="True">
	            <filepath>./mmfs.logs*</filepath>
            </filepaths>
            <exps>
				<exp>is being expelled because of an expired lease. Pings sent</exp>
			</exps>
            <desc>hit node expel due to network glitches problem.</desc>
            <log_range>-20,100</log_range>
    	</item>
    	<advice from="advice/node-expel/node_expel_due_to_network_glitches.txt" />
    </issue>
</root>